.profileHeader{
    height: 592px;
    width: 100%;
    position: relative;
    background-color: #fff;
    &_top{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 59.17%);
        &-img1{
            position: relative;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &-img2{
            position: absolute;
            margin-top: -80px;
            margin-left: 83%;
            z-index: 2;
        }
    }
    &_bottom{
        margin-top: 24px;
        margin-left:185px ;
        margin-right:185px ;
        max-height: 256px;
        &-content{
            justify-content: space-between;
            display: flex;
            font-family: 'roboto', sans-serif;
            font-style: normal;
            &-left{
                display: flex;
                &-img{
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    background: #ff9142;
                    img{
                        display: block;
                        margin: auto;
                        margin-top: 7px;
                    }
                }
                p{
                    align-self: center;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 12px;
                    color: #242322;
                    padding: 14px 16px;
                    background-color: #f2f2f2;
                    border-radius: 10px;
                }
                }
            &-right{
                display: flex;
                position: relative;
                p{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    color: #141320;
                    background-color: #f2f2f2;;
                    padding: 12px 68px 12px 16px;
                    border-radius: 10px;
                }
                img{
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-top: 8px;
                    margin-right: 16px;
                }
            }
        }
    }
    &_info{
        max-width: 240px;
        position: absolute;
        left: 45%;
        transform: translateX(-50%);
        top: 60%;
        transform: translateY(-50%);
        text-align: center;
        font-family: 'roboto', sans-serif;
        font-style: normal;
        &-avar{
            position: relative;
            .MuiAvatar-root{
                height: 240px !important;
                width: 240px !important;
            }
            img{
                position: absolute;
                border-radius: 50px;
                z-index: 3;
                top: 1;
                left: 1;
                right: 0;
                bottom: 0;
            }
        }
        h3{
           margin-top: 16px;
           font-weight: 700;
           font-size: 36px;
            line-height: 36px;
            color: #000;
        }
        h4{
            margin-top: 16px;
            font-weight: 500;
            font-size: 28px;
            line-height: 28px;
            color: #000;
        }
        p{
            margin-top: 40px;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            color: #423f3d;
        }
    }
}