.page{
    display: flex;
    margin-left: 48px;
    margin-bottom: 16px;
    cursor: pointer;
    p{
        margin-left: 33px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        color: #423f3d;
    }
}