

.body{
    background-color: #f5f5f5;
    padding-top: 20px;
}
.signup{
    width: 1440px;
    height: 1024px;
    margin: auto;
    display: block;
    /* height: 500px; */
    background-color: white;
    border: 1px solid white;
}
.signup__taskbar{
    height: 80px;
    // padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.03);
    &-left{
        display: flex; 
        img{
            width: 64px;
            height: 64px;
            padding-left: 47px;
            padding-top: 8px;
        }
        &-text{
            display: flex;
            font-family: 'Red Hat Display', sans-serif;
            font-size: 40px;
            line-height: 48px;
            font-weight: 400;
            align-items: center;
            padding-left: 17px;
            &-text2{
                color: #ff9242;
            }
        }
    }
    &-right{
        button{
            margin-top: 16px;
            width: 160px;
            height: 48px;
            border-radius:30px;
            border: 1px solid #ff9242;
            font-family: 'Roboto', sans-serif;
            font-size: normal;
            font-weight: 700;
            font-size:16px;
            line-height: 24px;
            cursor: pointer;
        }
        &-btn1{
            margin-right:36px;
            background-color: #ff9242;
            color: white;
        }
        &-btn2{
            background-color: #fff;
            color: #ff9242; 
            margin-right: 64px;
        }
    }
}


.signup__main{
    display: flex;
    justify-content: space-between;
    &-left{
        img{
            width: 500px;
            height: 500px;
            margin-left: 111px;
            margin-top: 126px; 
        }
    }
    &-right{
        &-outer{
            width:590px;
            height: 636px;
            margin-top: 80px;
            border: 1px solid rgba(0,0,0,0.1);
            // margin-left: 118px;
            margin-right: 118px;
            border-radius: 20px;
           
        }
    }
}
