.messageSender{
    height: 176px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 10px;
    &-top{
        display: flex;
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 35px;
        .MuiAvatar-root{
            width: 48px !important;
            height: 48px !important;
            margin-right: 18px;
        }
        input{
            width: 100%;
            padding-left: 24px;
            border: none;
            background: #f2f2f2;
            border-radius: 25px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 15px;
            color: #6d7274;
        }
        input:focus{
            outline: none;
        }
        &-postImage{
            margin-left: 5px;
            cursor: pointer;
            img{
                max-height: 35px;
                max-width: 110px;
                object-fit: contain;
            }
            p{
                margin: 0;
                font-size: 8px;
                text-align: center;
                line-height: 10px;
                color: #6d7274;
            }
        }
    }
    &-bottom{
        display: flex;
        margin-left: 67px;
        margin-right: 29px;
        justify-content:space-between;
        &-options{
            display: flex;
            margin-top: 29px;
            justify-content:space-between;
            width:448px;
            &-option{
                justify-content:space-between;
                display:flex;
                min-width: 107px;
                margin-top: -4px;
                cursor: pointer;
                p{
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 15px;
                    color: #6d7274;
                    margin-left: 4px;
                }
            }
        }
        button{
            width:96px;
            height: 36px;
            background: #ff7f24;
            border-radius: 30px;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #fff;
            border:none;
            margin-top: 25px;
            cursor: pointer;
        }
    }
}