

// .body{
//     background-color: #f5f5f5;
//     padding-top: 20px;
// }
// .login{
//     width: 1440px;
//     height: 1024px;
//     margin: auto;
//     display: block;
//     /* height: 500px; */
//     background-color: white;
//     border: 1px solid white;
// }
// .login__taskbar{
//     height: 80px;
//     display: flex;
//     justify-content: space-between;
//     box-shadow: 0 4px 6px rgba(0,0,0,0.03);
//     &-left{
//         display: flex; 
//         img{
//             width: 64px;
//             height: 64px;
//             padding-left: 47px;
//             padding-top: 8px;
//         }
//         &-text{
//             display: flex;
//             font-family: 'Red Hat Display', sans-serif;
//             font-size: 40px;
//             line-height: 48px;
//             font-weight: 400;
//             align-items: center;
//             padding-left: 17px;
//             &-text2{
//                 color: #ff9242;
//             }
//         }
//     }
//     &-right{
//         button{
//             margin-top: 16px;
//             width: 160px;
//             height: 48px;
//             border-radius:30px;
//             border: 1px solid #ff9242;
//             font-family: 'Roboto', sans-serif;
//             font-size: normal;
//             font-weight: 700;
//             font-size:16px;
//             line-height: 24px;
//             cursor: pointer;
//         }
//         &-btn1{
//             margin-right:36px;
//             background-color: #ff9242;
//             color: white;
//         }
//         &-btn2{
//             background-color: #fff;
//             color: #ff9242; 
//             margin-right: 64px;
//         }
//     }
// }


.forgetPass__main{
    &-right{
        &-outer{
            width:588px;
            height: 308px;
            margin-top: 80px;
            border: 1px solid rgba(0,0,0,0.1);
            margin-left: 121px;
            margin-right: 121px;
            border-radius: 20px;
            &-forget{
                // p{

                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 32px;
                    color: #ff9242;
                    margin-top: 55px;
                    margin-left: 194px;
                // }
            }
            &-text{
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                margin-left: 55px;
                color: #43403e;
            }
            &-input{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                p{
                    font-family: 'Roboto', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: #43403e;
                    margin-top: 9px;
                    margin-left: 55px;
                }
                input{
                    width: 300px;
                    height: 40px;
                    margin-right: 71px;
                    background-color: #f2f2f2;
                    border-radius: 40px;
                    border: 1px solid #f2f2f2;
                    padding-left: 26px;
                }
                input:focus{
                    outline: none;
                }
            }
            button{
                width: 160px;
                height: 48px;
                background-color: #ff8025;
                border-radius:30px;
                border: 1px solid #ff8025;
                margin-top: 25px;
                margin-left: 357px;
                color: white;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}
